{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Language Machines{% endblock title %}</title>
    {% render_block "css" %}

    {% load staticfiles %}

    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>
<body>
<div id="gradient"></div>
{% cms_toolbar %}

    <div id="container">

      <div id="header">
         <div id="rulogo"></div>
         <div id="logo"></div>
      </div>
         <div id="menu">{% show_menu 0 100 100 100 %}</div>
      <div id="content">
         {% block content %}
         {% endblock content %}
         <div style="clear: both"></div>
      </div>
      <div id="footer">
        {% if user.is_authenticated %}
        <span class="login">Logged in as {{ user.username }}  <a href="{% url 'logout' %}">[logout]</a> <a href="{% url 'admin:index' %}">[admin]</a></span>
        {% else %}
        <span class="login"><a href="{% url 'login' %}">[login]</a></span>
        {% endif %}           
      </div>

    </div>

{% render_block "js" %}
</body>
</html>


<div style="width: 940px; margin:0 auto">
    <ul class="nav">

    </ul>
</div>


