{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags twitter_tag cache %}

{% block content %}

{% placeholder "content" %}

<div id="tweetfeed">
{% cache 900 tweetfeed %}
{% search_tweets for "languagemachines" as tweets limit 5 %}
{% endcache %}
</div>

<ul id="projectcategories">
{% for projectcategory in projectcategories %}
    <li><a href="{% url 'projectcategory' projectcategory.id %}">{{ projectcategory.name}}</a>  - {{ projectcategory.description }}</li>
{% endfor %}
</ul>
{% endblock %}
