{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags twitter_tag cache static %}

{% block content %}

<div id="groupphoto">
<img src="{% static 'groupphoto.jpg' %}" alt="Language Machines Team" title="Language Machines Team" width="640" />
</div>

{% placeholder "content" %}

<h2>Latest News</h3>

<div id="tweetfeed">
{% cache 900 tweetfeed %}
{% search_tweets for "#languagemachines" as tweets limit 5 %}
<ul>
    {% for tweet in tweets %}
    <li><span class="username"><a href="http://twitter.com/{{ tweet.user.screen_name }}">{{ tweet.user.name }}</a></span> <span class="date">{{ tweet.created_at }}</span><br /> {{ tweet.html|safe }}</li>
    {% endfor %}
</ul>
{% endcache %}
</div>


<h2>Areas of research &amp; expertise</h2>

<ul id="projectcategories">
{% for projectcategory in projectcategories %}
<li><a href="{{ BASE_URL }}/categories/{{ projectcategory.id }}">{{ projectcategory.name }}</a>  - {{ projectcategory.description }}</li>
{% endfor %}
</ul>

{% endblock %}
