{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
<h1>Team</h1>

{% placeholder "content" %}

<div class="index">
{% for person in persons %}
    {% if not person.left_date %}
        {% include 'personitem.html' %}
    {% endif %}
{% endfor %}
</div>

<h2>Former team members</h2>

<div class="index">
{% for person in persons %}
    {% if person.left_date %}
        {% include 'personitem.html' %}
    {% endif %}
{% endfor %}
</div>

{% endblock content %}

