{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
<div class="projectview">
        <h1>{{ project.name }}<h1>
        <span class="sponsor">{{ project.sponsor }}</span>
        {% if project.website %}
        <span class="item"><a href="{{ project.website }}">{{ project.website }}</a></span>
        {% endif %}
        <p>{{ project.description }}</p>
</div>

{% render_placeholder project.content %}

{% endblock %}
