{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}

<h1>Projects</h1>

{% placeholder "content" %}

<div class="index">
{% for project in projects %}
    <div class="item">
        <h3><a href="{% url 'project' project.id %}">{{ project.name }}</a></h3>
        <span class="sponsor">{{ project.sponsor }}</span>

        {% if project.website %}
        <span class="field"><a href="{{ project.website }}">{{ project.website }}</a></span>
        {% endif %}
        {% if project.members %}
        <span class="field"><label>Members: </label>
        {% for member in project.members.all %}
        <a href="{% url 'person' member.id %}">{{ member }}</a> &nbsp;  
        {% endfor %}
        </span>
        {% endif %}
        <p>{{ project.description }}</p>
    </div>
{% endfor %}
</div>

{% endblock content %}
