{% load cms_tags menu_tags sekizai_tags staticfiles %}

<div class="item">
    {% if software.image %}
    <div class="imagespacesmall">
        <img src="{{ software.image.url }}" alt="{{ software }}" title="{{ software }}" width="60" height="80" />
    </div>
    {% else %}
    <div class="imagespacesmall">
        <img src="{% static 'lama-logo-soft.png' %}" alt="{{ software }}" title="{{ software }}" width="60" height="80" />
    </div>
    {% endif %}
    <h3><a href="{% url 'softwareview' software.id %}">{{ software.name }}</a></h3>
    {% if software.authors or software.externalauthors %}
    <span class="field">by 
    {% for author in software.authors.all %}
    <a href="{% url 'person' author.id %}">{{ author }}</a> {% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% if software.externalauthors %}
    , {{ sofware.externalauthors }}
    {% endif %}
    </span>
    {% endif %}
    {% if software.website %}
    <span class="field"><a href="{{ software.website }}">{{ software.website }}</a></span>
    {% elif software.source %}
    <span class="field"><a href="{{ software.source }}">{{ software.source }}</a></span>
    {% endif %}
    <p>{{ software.description }}</p>
</div>

