{% for person in persons %}
    <div class="person">
        <h3>{{ person.firstname }} {{ person.lastname }} {% if person.nickname %}{{ person.nickname }}{% endif %} <span class="title">{{ person.title }}</span></h3>
        <span class="function">{{ person.get_function_display() }} {{ person.get_function2_display() }}</span>
        {% if person.website %}
        <span class="link">Website: <a href="mailto:{{ person.website }}">{{ person.website }}</a></span>
        {% endif %}
        <a href="mailto:{{ person.email }}">{{ person.email }}</a> 
    </div>
{% endfor %}
